<div class="footer-divider"></div>
<footer class="site-footer">
  
</footer>




<footer class="site-footer">
  
  </svg>
    <img src="/assets/logo.svg" alt="My Logo" class="logo">
     <p>© 2025 Uwaniumnya. Highly Illegal.</p>
  </footer>

  