---
title: about
layout: "base.njk"
---

<h1 class="Top">About</h1>
<section class="bg1">
 
  <section class="hero">
    <div class="container flow">

      <div class="hero__content flow">
        <div class="bordera">
          
          




          <h1 class="tit">About Dyo´s Domain</h1>
          <p class="desco">Dyo´s Domain is the Ultimate Source for all Things Drug and Chemistry Related. For Years I scowered the Clear- and Darkweb to complie Everything I could find about Drugs.
          </p>
          <p class="desco">Here you will find General Information, Expansive Substance Profiles, Risks of
            Substance Abuse and Combination, as well as Fun Facts!</p>
          <p class="desco">Knowledge is Power! Enjoy!!</p>
           <p><img src="{{ '/assets/blog/about/dw.png' | url }}" alt="" class="img3"></p> 
        </div>
       
       
       
        <div class="bordera">



          <h1 class="tit">About Me</h1>
          <p class="desco">My Name is Callisto. I am an Alter in a System, My Role is Passion, and Passion definitely went into this Project. Due to severe ADHD, My Abilities have been Restricted. What saved me were Prescription Drugs. Now I can show my Gratitute.</p>
          <p class="desco">Under the Pseudonym "Uwaniumnya" I have created this Site, although not Alone. While my Passion came through in Design, the Information was collected over the Years by another Alter: Dyo.</p>
          <p class="desco">When it Comes to Drugs and Substances, Nobody Tops her Knowledge. Together we have created a Masterpiece.</p>
          
       
          
          
          
        </div>
         <img src="/assets/blog/about/an1.jpg" alt="" class="img5">
       
      





      </div>
      <div>
       
        <img src="/assets/blog/about/an.jpg" alt="" class="img2">
        

    </div>
    
  </section>
</section>




